In [5]:
import pandas as pd
import numpy as np

In [6]:
bike_count_2019 = pd.read_csv('bike_count/comptage_velo_2019.csv')
bike_count_2019 = bike_count_2019[['Date','compteur_100003032','compteur_100003039','compteur_100011783']]
bike_count_2019 = bike_count_2019.drop_duplicates(subset=['Date','compteur_100003032','compteur_100003039','compteur_100011783'])
bike_count_2019 = bike_count_2019.reindex()
bike_count_2019 = bike_count_2019.fillna(0)
bike_count_2019 = bike_count_2019.groupby(np.arange(len(bike_count_2019))//96).sum().round(decimals=0).astype('int64')
bike_count_2019.rename(columns={"compteur_100003032": "Berri1", "compteur_100003039": "Maisonneuve_2", "compteur_100011783": "Maisonneuve_3"})
bike_count_2019

     compteur_100003032  compteur_100003039  compteur_100011783
0                    47                  81                  26
1                   125                 162                  52
2                   245                 283                  85
3                   237                 328                  78
4                   153                 201                  50
..                  ...                 ...                 ...
360                  93                   0                  35
361                 163                   0                  89
362                 147                   0                  93
363                 128                   0                  48
364                  88                   0                  29

[365 rows x 3 columns]

In [7]:
fields = ['Max Temp (°C)', 
          'Min Temp (°C)',
         'Mean Temp (°C)',
         'Total Precip (mm)',
          'Snow on Grnd (cm)',
         'Year',
         'Month',
         'Day']

weather_2019 = pd.read_csv('weather_daily/en_climate_daily_QC_702S006_2019_P1D.csv', usecols=fields)
weather_2019 = weather_2019.fillna(0)

fields = ['Dew Point Temp (°C)', 
          'Rel Hum (%)',
          'Wind Dir (10s deg)',
          'Wind Spd (km/h)',
         'Wind Chill']

weather_hourly_2019 = pd.read_csv('weather_hourly/en_climate_hourly_QC_702S006_01-2019_P1H.csv', usecols=fields)

for i in range(11):
    n = i+2
    name = open("weather_hourly/en_climate_hourly_QC_702S006_%.2d-2019_P1H.csv" % n)
    weather_hourly_2019_temp = pd.read_csv(name)
    weather_hourly_2019_temp
    weather_hourly_2019 = pd.concat([weather_hourly_2019, weather_hourly_2019_temp], axis=0, join="inner")

weather_hourly_2019 = weather_hourly_2019.fillna(0)
weather_hourly_2019 = weather_hourly_2019.groupby(np.arange(len(weather_hourly_2019))//24).mean()
weather_hourly_2019.reindex()

totalData_2019 = pd.concat([weather_2019,weather_hourly_2019,bike_count_2019], axis=1, join="inner")
totalData_2019.to_csv('totalData_2019.csv',index=False)
totalData_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 365 non-null    int64
 1   Month                365 non-null    int64
 2   Day                  365 non-null    int64
 3   Max Temp (°C)        365 non-null    float64
 4   Min Temp (°C)        365 non-null    float64
 5   Mean Temp (°C)       365 non-null    float64
 6   Total Precip (mm)    365 non-null    float64
 7   Snow on Grnd (cm)    365 non-null    float64
 8   Dew Point Temp (°C)  365 non-null    float64
 9   Rel Hum (%)          365 non-null    float64
 10  Wind Dir (10s deg)   365 non-null    float64
 11  Wind Spd (km/h)      365 non-null    float64
 12  Wind Chill           365 non-null    float64
 13  compteur_100003032   365 non-null    int64
 14  compteur_100003039   365 non-null    int64
 15  compteur_100011783   365 non-null    int64
dtypes: float64(10), int64(6)
memory usage: 45.8 KB